//$card-border-radius: 26px;
//$card-border-width: 0px;

.carousel-inner{
  border-radius: 10px;
  overflow: hidden;
}
.carousel{
  box-shadow: 1.5px 5px 6.5px rgba(0, 0, 0, 0.39);
  border: 0;
  border-radius: 10px;
}

