//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";
@import "card";
#page-header{
  background-color: lightgreen !important;
  .nav-link{
    color: red;
    font-size: 24px;

  }
}
.footer-section-meta{
  background-color: #FF5023;
  color: black;
  font-style: italic;
}