//
// Variables
//
@import "variables";
@import "carousel";
//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";
@import "card";
@import "_AboutMe.scss";
#page-header{
  background: url("https://cdn.discordapp.com/attachments/863042549777825822/1308345862333665333/2024-09-25_57133591.png?ex=67b78e49&is=67b63cc9&hm=7b5032077f5b624c89eab5a7f56be412435cfc3c0268c9b210cfce7d9c3618ae&");
  background-size: 100%;
  background-repeat: no-repeat;


  // background-color: orange !important;
  .nav-link{
    height: 4em;
    color: black;
    font-size: 24px;

  }
}
.footer-section-meta{
  $dark: #E34049;
  background: rgba($dark, 0.65);

  color: black;
  font-style: italic;
}

.frame-background-secondary{
  box-shadow: 1.5px 5px 6.5px rgba(0, 0, 0, 0.39);
  border: 0;
  border-radius: 10px;
}
.element-header{
  font-weight: bold;
  text-align: left;
}

img{
  border: 0;
  border-radius: 5px;
}

.nav-item {
  border: solid black 0.5px;
  background: white;
  border-radius: 10px;
  padding: 5px;

}

.nav-link, nav-link-main{
  padding: 2px 5px;
  margin: 0px;
}

#page-header .nav-link {
  height: 1em;
  color: black;
  font-size: 24px;
}


